<body>
<div class="container">
  <%= form_with model: @vacation_request, :html => { role: "form"} do |f| %>
    <div class="form-group">
      <%= f.label "Дата начала отпуска:" %>
      <%= f.date_select :start_date, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label "Дата окончания отпуска:" %>
      <%= f.date_select :end_date, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label "Комментарий:" %>
      <%= f.text_area :comment, rows: 10, placeholder: "Текст" %>
    </div>
    <div class="form-group">
      <%= f.submit "Отправить заявку", class: "button" %>
    </div>
  <% end %>
</div>
</body>
